.search-term
{
    color: #ed0909;
    margin: 10px auto;
    text-align: center;
    display: block;
    font-size: 16pt;
    font-weight: bold;
}
.search-filter-label
{
    display: block;
    color: #4a4a4a;
    font-size: 11pt;
    font-weight: bold;
    margin: 5px 0 3px 0;
}
.search-filter-dropdown
{
    margin: 5px auto 10px auto;
    display: block;
    width: 100%;
    padding-left: 5px;
    height: 27px;
    border: 1px solid #b2b7bd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-family: 'myriad-pro';
    font-weight: 600;
    /* font-size: 13px; */
    color: #6e6e6e;
    background-color: #FFFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#E6E6E6);
}

.search-section-title
{
    color: #00a8e2;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 20px;
}
.search-section-title:after
{
    content: ":";
}

.search-result-list
{
    padding: 0;
    margin: 0;
}
.search-result-list-cursive
{
    font-style: italic;
}
.search-result-list-item
{
    margin: 0;
    padding: 0 1em;
    list-style: none;
}
.search-result-list-item a
{
    text-decoration: none;
    color: #000;
}
.search-result-list-item:before { 
    content: "";
    border-color: transparent #79d0f0;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
.search-result-list-item-category
{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.search-result-no
{
    margin: 10px 0;
    text-align: center;
    font-size: 13pt;
    color: #444;
}


.search-category-name
{
    display: block;
    text-align: center;
    margin: 5px 0;
    font-size: 12pt;
}
.search-category-list
{
    margin: 0;
    padding: 0;
}
.search-category-list-item
{
    margin: 0;
    padding: 0 1em;
    list-style: none;
}
.search-category-list-item:before { 
    content: "";
    border-color: transparent #79d0f0;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
.search-category-list-item-links>a
{
    text-decoration: none;
    color: #000;
}